<template>
  <div class="grow-market">
    <div class="grow-market__text-content">
      <h2 class="grow-market__title">كل ما تحتاجه لنمو متجرك في مكان واحد</h2>
      <p class="grow-market__description">
        مميزات سوق تطبيقات زد تساعدك في سهولة وسرعة الاستفادة من خدمات وحلول سوق
        التطبيقات لنمو متجرك ومضاعفة أرباحك
      </p>
      <div class="grow-market__benefits">
        <GrowYourMarketBenefit
          msg="سهولة ادارة وتفعيل تطبيقاتك من نفس لوحة تحكم متجرك"
          iconName="ease-of-management.svg"
        />
        <GrowYourMarketBenefit
          msg="دعم فني وتقني متكامل متوفر علي مدار الساعة"
          iconName="technical-support.svg"
        />
        <GrowYourMarketBenefit
          msg="أسعار تنفاسية مع تجربة مجانية وباقات اشتراك متنوعة"
          iconName="competetive-prices.svg"
        />
      </div>
      <div class="btn btn--primary btn--lg btn--has-arrow">تصفح التطبيقات</div>
    </div>
    <img
      class="grow-market__moving-img"
      src="./../../assets/hero-presentation.png"
      alt="Grow you market moving image"
    />
  </div>
</template>

<script>
import GrowYourMarketBenefit from "./GrowYourMarketBenefit";

export default {
  name: "GrowYourMarket",
  components: { GrowYourMarketBenefit },
};
</script>

<style lang="scss" scoped>
@import "./../../styles/_style-variables";
@import "./../../styles/_btn";

.grow-market {
  display: grid;
  grid-template: auto / 45% 1fr;
  background-color: #fafafc;
  padding: 40px 5%;
  max-height: 460px;

  &__title {
    color: $main-color;
    font-size: 2rem;
  }
  &__description {
    color: $bale-black-color;
    font-size: 1.2rem;
    font-weight: 500;
  }

  &__benefits {
    margin-bottom: 40px;
  }

  &__moving-img {
    width: 100%;
  }
}

@media screen and(max-width: 1196px) {
  .grow-market {
    max-height: initial;
  }
}
</style>