<template>
  <div class="benefit">
    <img
      class="benefit__icon"
      :src="require(`@/assets/${iconName}`)"
      :alt="msg"
    />
    <p class="benefit__text">{{ msg }}</p>
  </div>
</template>

<script>
export default {
  name: "GrowYourMarketBenefit",
  props: { msg: String, iconName: String },
};
</script>

<style lang="scss" scoped>
.benefit {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin: 10px 0;

  &__icon {
    width: 60px;
  }
  &__text {
    font-size: 1.15rem;
    font-weight: 500;
  }
}
</style>