@import "./style-variables";

.btn {
  min-width: 103px;
  max-width: max-content;
  height: 48px;
  text-align: center;
  line-height: 48px;
  display: inline-block;
  padding: 0 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.12);
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &--primary {
    color: white;
    background: $main-color;

    &:hover {
      color: white;
    }
    &-disabled {
      background-color: #b0bec5;
      color: #fff;
      cursor: initial;
    }
  }
  &--primary-reversed {
    color: $main-color;
    background: white;
    font-weight: 600;
    letter-spacing: 0.5px;

    &:hover {
      color: $main-color;
    }
  }
  &--secondary {
    color: $main-color;
    background: white;

    &:hover {
      color: $main-color;
    }
    &-disabled {
      color: #7f8487;
      cursor: initial;
    }
  }
  &--block {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  &--uppercase {
    text-transform: uppercase;
  }
  &--lg {
    min-width: 180px;
    height: 56px;
    line-height: 56px;
    padding: 0 32px;
    font-size: 1.1rem;
  }
  &--has-arrow {
    position: relative;
    &::after {
      content: "";
      width: 20px;
      height: 20px;
      background-image: url("~@/assets/left-arrow.svg");
      background-position: 50%;
      position: absolute;
      margin-right: 10px;
      top: calc(50% - 10px);
      animation: arrow-animation 4s ease-in-out 0s infinite normal forwards;
    }
  }
  &--no-margin {
    margin: 0;
  }
}

.word-btn {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 20px auto 0;
  cursor: pointer;
  text-align: center;
  width: 220px;

  &--primary {
    color: $secondary-color;
  }
  &--has-arrow {
    position: relative;
    &::after {
      content: "";
      width: 16px;
      height: 16px;
      background-image: url("~@/assets/left-arrow.svg");
      background-size: cover;
      background-position: 50%;
      position: absolute;
      margin-right: 10px;
      top: calc(50% - 8px);
      animation: arrow-animation 4s ease-in-out 0s infinite normal forwards;
    }
  }
  &--no-margin {
    margin: 0;
  }
}

@keyframes arrow-animation {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateX(-1px);
  }

  20%,
  40%,
  60% {
    transform: translateX(1px);
  }

  80% {
    transform: translateX(0.5px);
  }

  90% {
    transform: translateX(-0.5px);
  }
}
