<template>
  <div class="app">
    <img :src="require(`@/assets/${appIcon}`)" alt="" class="app__icon" />
    <div class="app_content">
      <div class="app__head">
        <div class="app__header">
          <div class="app__name-and-rating">
            <h4 class="app__title">{{ appName }}</h4>
            <div>
              <img
                class="app__rating-icon"
                src="@/assets/star.png"
                alt="Rating star"
              />
              <span class="app__rating-number">{{ rating }}</span>
            </div>
          </div>
          <p class="app__developed-by">
            تطوير:
            <span class="app__developed-by__name">{{ developedBy }}</span>
          </p>
        </div>
      </div>
      <p class="app__body">{{ description }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "SpecialAppsItem",
  props: {
    appName: String,
    appIcon: String,
    rating: String,
    developedBy: String,
    description: String,
  },
};
</script>

<style lang="scss" scoped>
@import "./../../styles/_style-variables";

.app {
  display: grid;
  grid-template: auto / 60px 1fr;
  grid-column-gap: 16px;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 12px;

  &__head {
    display: flex;
    column-gap: 16px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  &__header {
    display: grid;
    grid-template: auto auto / 1fr;
  }
  &__icon {
    height: 60px;
  }
  &__name-and-rating {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  &__title {
    color: $main-color;
    font-size: 1.2rem;
    margin: 0;
  }
  &__developed-by {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 500;

    &__name {
      font-size: 1rem;
      font-weight: normal;
    }
  }
  &__rating-icon {
    width: 14px;
    margin-left: 5px;
  }
  &__rating-number {
    font-size: 1.2rem;
    color: #45a787;
    font-weight: 500;
  }

  &__body {
    font-weight: 500;
    font-size: 0.95rem;
  }
}
</style>