<template>
  <div class="special-apps">
    <h2 class="special-apps__title">التطبيقات المميزة</h2>
    <p class="special-apps__description">
      تطبيقات تقدم حلول وخدمات مميزة نوصي بتجربتها
    </p>
    <div class="special-apps__items">
      <SpecialAppsItem
        v-for="app in specialApps"
        :key="app.id"
        :appName="app.name"
        :appIcon="app.icon"
        :rating="app.rating"
        :developedBy="app.developedBy"
        :description="app.description"
      />
    </div>
    <div class="word-btn word-btn--primary word-btn--has-arrow">جميع التطبيقات</div>
  </div>
</template>

<script>
import SpecialAppsItem from "./SpecialAppsItem";
export default {
  name: "SpecialApps",
  components: { SpecialAppsItem },
  data() {
    return {
      specialApps: [
        {
          id: 1,
          name: "قمرة",
          icon: "app-icon.png",
          rating: "5",
          developedBy: "عمر برهوم",
          description:
            "نظام الولاء الامثل الذي يمكنك من رفع مبيعاتك نظام الولاء الامثل الذي يمكنك من رفع مبيعاتك",
        },
        {
          id: 2,
          name: "قمرة",
          icon: "app-icon.png",
          rating: "5",
          developedBy: "عمر برهوم",
          description:
            "نظام الولاء الامثل الذي يمكنك من رفع مبيعاتك نظام الولاء الامثل الذي يمكنك من رفع مبيعاتك",
        },
        {
          id: 3,
          name: "قمرة",
          icon: "app-icon.png",
          rating: "5",
          developedBy: "عمر برهوم",
          description:
            "نظام الولاء الامثل الذي يمكنك من رفع مبيعاتك نظام الولاء الامثل الذي يمكنك من رفع مبيعاتك",
        },
        {
          id: 4,
          name: "قمرة",
          icon: "app-icon.png",
          rating: "5",
          developedBy: "عمر برهوم",
          description:
            "نظام الولاء الامثل الذي يمكنك من رفع مبيعاتك نظام الولاء الامثل الذي يمكنك من رفع مبيعاتك",
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
@import './../../styles/_btn';

.special-apps {
  padding: 200px 5% 160px;

  &__title {
    font-size: 2rem;
    color: #222;
    margin-bottom: 5px;
    text-align: center;
  }
  &__description {
    text-align: center;
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 40px;
  }

  &__items {
    display: grid;
    grid-template: auto / repeat( auto-fit, minmax(250px, 1fr) );
    grid-gap: 20px;
    margin-bottom: 60px;
  }
}
</style>