<template>
  <img
    v-if="shown"
    class="to-top"
    v-on:click="toTop"
    src="@/assets/back-to-top-chevron.png"
    alt="Back to top button"
  />
</template>

<script>
export default {
  name: "BackToTop",
  mounted() {
    window.addEventListener("scroll", () => {
      const currentScroll = window.pageYOffset;
      if (currentScroll >= 800) {
        this.shown = true;
        return;
      } else this.shown = false;
    });
  },
  data() {
    return {
      shown: false,
    };
  },
  methods: {
    toTop() {
      window.scrollTo({ top: 0, behavior: "smooth" });
    },
  },
};
</script>

<style lang="scss" scoped>
.to-top {
  position: fixed;
  width: 60px;
  left: 6%;
  bottom: 30px;
  cursor: pointer;
}
</style>