<template>
  <footer class="footer">
    <a href="#"><img class="footer__brand" src="@/assets/zid-logo-white.png" alt="Zid logo"></a>
    <div class="footer__social-media">
      <a href="#"><img class="footer__social-icon" src="@/assets/twitter.png" alt="Twitter icon"></a>
      <a href="#"><img class="footer__social-icon" src="@/assets/instagram.png" alt="Instagram icon"></a>
      <a href="#"><img class="footer__social-icon" src="@/assets/linkedin.png" alt="Linkedin icon"></a>
      <a href="#"><img class="footer__social-icon" src="@/assets/youtube.png" alt="Youtube icon"></a>
    </div>
  </footer>
</template>

<script>
  export default {
    name: 'Footer'
  }
</script>

<style lang="scss" scoped>
@import './../styles/_style-variables';

.footer {
  background-color: $main-color;
  min-height: 280px;
  text-align: center;
  padding: 40px 0;

  &__brand {
    width: 240px;
  }
  &__social-media {
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px auto;
  }
  &__social-icon {
    width: 24px;
  }
}
</style>