<template>
  <div class="hero">
    <h1 class="hero-title">طور متجرك ووسع افاق تجارتك مع سوق تطبيقات زد</h1>
    <p class="hero-description">
      طور متجرك من خلال تطبيقات وحلول سوق تطبيقات زد التي تساعدك في نمو أرباحك
      عبر إدارة عمليات متجرك بشكل فعال واحترافي
    </p>
    <div class="btn btn--primary btn--lg btn--has-arrow">تصفح التطبيقات</div>
    <div class="hero-presentation">
      <img
        class="hero-presentation__img"
        src="./../assets/hero-presentation.png"
        alt=""
      />
    </div>
  </div>
</template>

<script>
export default {
  name: "HeroSection",
};
</script>

<style lang="scss" scoped>
@import "./../styles/_style-variables";
@import "./../styles/_btn";

.hero {
  margin: 100px 0;
  text-align: center;

  &-title {
    color: $main-color;
    font-weight: 700;
    font-size: 2.8rem;
  }
  &-description {
    color: $bale-black-color;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.6rem;
    width: 42%;
    margin: 0 auto 40px;
  }

  &-presentation {
    width: 70%;
    margin: 30px auto 0;

    &__img {
      width: 90%;
    }
  }
}

@media screen and(max-width: 768px) {
  .hero-title {
    font-size: 2.2rem;
    width: 90%;
    margin: 10px auto;
  }
}
</style>