<template>
  <nav class="nav">
    <a href="#"
      ><img class="nav-brand" alt="Vue logo" src="./../assets/logo.png"
    /></a>
    <div class="nav-menu">
      <a class="nav-menu__item" href="#">الرئيسية</a>
      <a class="nav-menu__item" href="#">التصنيفات</a>
      <a class="nav-menu__item" href="#">التطبيقات</a>
      <a class="nav-menu__item" href="#">طور تطبيق</a>
    </div>
  </nav>
</template>

<script>
export default {
  name: "Navbar",
};
</script>

<style lang="scss" scoped>
@import "./../styles/_style-variables";

.nav {
  height: 100px;
  padding: 0 10%;
  display: flex;
  column-gap: 60px;
  align-items: center;

  &-brand {
    width: 160px;
  }

  &-menu {
    display: flex;
    width: 75%;
    justify-content: space-evenly;

    &__item {
      text-decoration: none;
      color: $bale-black-color;
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}

@media screen and(max-width: 768px) {
  .nav {
    column-gap: 20px;
    padding: 0 7%;

    &-brand {
      width: 120px;
    }

    &-menu {
      column-gap: 12px;

      &__item {
        font-size: 1rem;
      }
    }
  }
}
</style>