<template>
  <div>
    <Navbar />
    <HeroSection />
    <GrowYourMarket />
    <SpecialApps />
    <Footer />
    <BackToTop />
  </div>
</template>

<script>
import Navbar from "./components/Navbar.vue";
import HeroSection from "./components/HeroSection.vue";
import GrowYourMarket from "./components/grow-your-market/GrowYourMarket.vue";
import SpecialApps from "./components/special-apps/SpecialApps.vue";
import Footer from "./components/Footer.vue";
import BackToTop from "./components/BackToTop.vue";

export default {
  name: "App",
  components: {
    Navbar, HeroSection, GrowYourMarket, SpecialApps, Footer, BackToTop
  },
};
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Tajawal", "DM Sans", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}

html,
body {
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
</style>
